*{
}
.topnav{
    display: flex;
    gap: 50px;
}
.topnav a{
    text-decoration: none;
    color: black;
    
}
.topnav a.middle{
    display: inline-block;
    margin-left: 60px;
   
}

.topnav a.home{
   
    float: left;
    font-weight: bold;
    font-style: oblique;

}
.topnav a.register{
    float: right;
}
body{
    place-content: center;
}

.firstdiv{
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.seconddiv{

}
.price{
    width: 300px;
    height: 350px;

    background: linear-gradient(#bdaeb8, rgb(4, 4, 78)) ;
    display: grid;
    place-content: center;
    border-radius: 10px;
    padding-left: 10px;
    

}
.price2{
    width: 300px;
    height: 150px;
    background: linear-gradient(rgb(216, 195, 198), purple);
    border-radius: 10px;
    place-content: center;
    rotate: 20deg;
}
.price3{
    width: 300px;
    height: 150px;
    background: linear-gradient, pink;
    border-radius: 10px;
    place-content: center;
}
.footer{
    display: flex;
    background-color: black;
    color: white;
}
.p1{
    margin-left: 5%;
}
.p2{
    margin-left: 60%;
}
.enddiv{
    display: flex;
    gap: 15%;
    background-color: #050834;
    text-align: center;
    padding-left: 5%;
}
.enddiv h4{
    font-size: 20px;
    color: white;
}
.enddiv p{
    color: grey;
    font-size: 18px;
}
.download{
    display: flex;
    gap: 10%;
    margin-left: 18%;
    color: #0d1364;
}
.download1{
    margin-top: 10%;
}
.mobile{
    text-decoration: underline;
    font-size: 20px;
}
.shade{
    /* color: #0d1364; */
}
.para{
    font-size: 40px;
}
.btn1{
    padding: 12px 50px;
    background-color: #050834;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
.btn2{
    padding: 12px 50px;
    color:#050834;
    font-weight: bold;
    border-radius: 10px;
}
.header{
    text-align: center;
}
.firstdiv{
    display: flex;
    gap: 20%;
    margin-left: 8%;
    margin-top: 8%;
}
.red{
    color: red;
    font-weight: bolder;
    text-decoration: underline;

}
.innerdiv{
    rotate: 10deg;
}
.software{
    text-align: center;
}
.product{
    display: flex;
    gap: 10%;
    margin-left: 8% ;

}
.number{
    font-size: 40px;
    font-weight: bolder;
}
.money{
    display: flex;
    gap: 10%;
    margin-left: 8%;
}
.data{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#rev{
    width: 70px;
    border-radius: 50%;
}